@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Fira+Code:wght@300..700&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu+VIC+WA+NT+Beginner', sans-serif;

}

.Formulario{
    background: rgb(168, 235, 218);
    border: 1px solid rgb(0, 143, 100);
    max-width: 450px; /* Define uma largura máxima para o formulário */
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 3px 3px 15px #6c94eb;
    border-radius: 8px;
}

body {
    /* background-image: url('./imagebg.png'); */
    background: linear-gradient(45deg,#e7d1b5, #c37cf3);
    min-height: 100vh;
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

#imagemf{
    background-image: url('./imagebg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

#labelNome, #labelsenha, #labelconfirmSenha {
    padding: auto;
    border: 0;
}

#msgError{
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
  }
  
  #msgSuccess{
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;
  }